    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* note dashboard */

:root {
  --blue-color: #09a3f7;
  --dark-blue-color: #0656c8;
}

/* Form container */
.note-form {
  width: 50% !important;
  box-shadow: 0 4px 20px rgba(128, 128, 128, 0.5);
  padding: 3em;
  border-radius: 20px;
  background: #fff;
}

/* Input and Textarea Styling */
.input-box, .content-box {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.input-box:focus, .content-box:focus {
  border-color: var(--blue-color);
  outline: none;
  box-shadow: 0 0 8px rgba(25, 137, 237, 0.5);
}

/* Make Content Box Bigger */
.content-box {
  height: 200px;
  resize: none;
}

/* Save Button */
.save-btn {
  width: 30% !important;
  font-weight: 500;
  border: none;
  background-color: #09a3f7 !important;
  transition: all 0.3s;
  padding: 10px;
  border-radius: 10px;
}

.save-btn:hover {
  background-color: #0656c8 !important;
  font-weight: bold;
  transform: scale(1.05);
}


div.card {
    border: none;
}

img.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    height: 20rem;
}

div.card-body {
    padding: 0;
}

.listing-link {
    text-decoration: none !important;

}

div.card-img-overlay {
    opacity: 0;
}

div.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #ffffff;
}